@import "tailwindcss";

:root {
  --background: #a3cef1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark-slate-gray: #2e4d47ff;
  --color-sea-green: #3e885bff;
  --color-uranian-blue: #a3cef1ff;
  --color-air-superiority-blue: #6096baff;
  --color-prussian-blue: #273043ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a3cef1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-prussian-blue);
  font-family: Arial, Helvetica, sans-serif;
}
